<div id="wrapper">
<div id="head"><h1>Listing tasks</h1>
<div id="links">
<%= link_to 'Sort By Title', user_tasks_path(order:"title") %>
<%= link_to 'Sort By User', user_tasks_path(order:"user_id") %>
<%= link_to 'Sort By Due date', user_tasks_path(order:"due_date") %>
<%= link_to 'Sort By Priority', user_tasks_path(order:"priority") %>

<%= form_tag user_tasks_path, :method => 'get' do %>
   <p id="search">
     <%= text_field_tag :search, params[:search] %>
     <%= submit_tag 'Search', :name => nil %>
   </p>
<% end %>

</div>
</div>
<table>
  <tr>
    <th>Check</th>
    <th>Title</th>
    <th>User</th>
    <th>Due date</th>
    <th>Priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><label><input type="checkbox" /></label></td>
    <td><%= task.title %></td>
    <td><%= task.user_id %></td>
    <td><%= task.due_date %></td>
    <td><%= task.priority %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_user_task_path(@user) %>
<%= link_to 'Back', :back %><br>
<%= link_to 'Users', users_path %>

</div>
